@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@font-face{
    font-family:"Booter - Zero Zero";
    src: url("/Assets/Fonts/Booter - Zero Zero.woff") format("woff"),
    url("/Assets/Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-style:normal;
    font-weight:normal;
}
*{
    box-sizing:border-box;
    font-family:Raleway;
    color:#777;
}
html, body{
    margin:0;
    padding:0;
}
.nav.main-nav ul{
    margin:0;
}
.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:.5em;
    color:white;
    text-decoration:none;
}
.main-nav{
    text-align:center;
    font-size:1.1em;
    font-weight:lighter;
    border-bottom: 1px solid rgb(255, 255, 255, .3);
}

.main-nav li{
    padding:0 5%;
}
.nav a:hover{
    background-color: rgb(255, 255, 255, .3);
}
.main-header{
    background-image:url("/Assets/images/soadmainheader.jpg");
    background-size:cover;
    background-position:center;
    padding-bottom:30px;
    background-color:rgb(0, 0, 0, .85);
    background-blend-mode: multiply;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family:"Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large{
    font-size:8em;
}

.content-section{
    margin:1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header{
    font-family:"Metal Mania";
    font-weight:normal;
    color:#333;
    font-size: 3em;
    text-align:center;
}

.about-band-image{
    float:left;
    margin:15px;
    border-radius:50%;
}

.main-footer{
    background-color:rgb(98, 36, 30);
    color:white;
    padding: .25em 0;
}

.main-footer-container{
    display:flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow:1;
    text-align:end;
}

.footer-nav li{
    padding:0 .5em;
}

.footer-nav img{
    width:30px;
    height:30px;
}